#image-container {
    position: relative;
}

#Home-Intro {
    position: absolute;
    top: 100px;
    left: 150px; 
    right: 150px;
    bottom: 100px;
    padding: 5px;
    justify-content: center;
    font-size: 30px;
    display: flex;
  flex-direction: column;
  border-radius: 10px;
}

#Home-image {
    width: 80%;
}

#title {
    font-size: 18vh;
    font-family: Serif;
    color: white;
}

.Tab-image {
    width: 50vh;
    margin-left: 5vh;
    margin-right: 5vh;
}



