#image-container {
    position: relative;
}

#Home-Intro {
    position: absolute;
    top: 100px;
    left: 150px; 
    right: 150px;
    bottom: 100px;
    padding: 5px;
    background-color: white;
    background: rgba(255,255,255,0.85);
    justify-content: center;
    font-size: 30px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#Home-image {
    max-width: 100%;
    height: 85vh;
}

#title {
    font-size: 70px;
    font-family: Serif;
}
