.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
    margin: 0;
}

header {
  grid-area: header;
    background-color: lightblue;
}

main {
  grid-area: main;
  text-align: center;
  overflow: auto;
}

footer {
  grid-area: footer;
  background-color: lightblue;
  text-align: center;
}


body {
  margin: 0; /* prevents scrollbars */
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  font-size: 4vh;
  margin-left: 50px;
  margin-right: 50px;
}

@font-face {
  font-family: 'Mario';
  src: url('./fonts/MARIO_Font_v3_Solid.otf');
}

.navBar {
  font-family: 'Mario';
  text-decoration: none;
  color: black;
}

.navBar:visited {
  color: black;
}

.navBar:hover {
  color: grey;
}

#navBar-logo {
  height: 6em;
  margin-top: -40%;
}

