.App {
  display: grid;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/src/components/images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
    overflow:scroll;
}
::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}

header {
  grid-area: header;
  overflow-x: hidden;
  margin-bottom: -4%;
}

main {
  grid-area: main;
  text-align: center;
  justify-self: center;
}

footer {
  grid-area: footer;
  text-align: center;
}

body {
  margin: 0; /* prevents scrollbars */
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 2.7vw;
}

@font-face {
  font-family: 'Mario';
  src: url('./fonts/MARIO_Font_v3_Solid.otf');
}

.navBar {
  font-family: 'Mario';
  text-decoration: none;
  color: green;
  padding-right: 1em;
  padding-left: 1em;
}

.navBar:visited {
  color: green;
}

.navBar:hover {
  color: gold;
}

#navBar-logo {
  height: 3em;
  margin-top: -20%;
}

#nav {
  min-width: fit-content;
}

#no-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Mario';
  font-size: 2.5vh;
  overflow-x:hidden;
}

#no-match:any-link {
  text-decoration: none;
}

#mario {
  width: 10vw;
  border: 3px solid green;
  border-radius: 50px;
}

#nomatch-link:visited {
  color: black;
}

#nomatch-link:hover {
  color: gold;
}

